/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
font-family: 'Work Sans', sans-serif;
}
/* end global rules */
.parent{
    background-color: #eee;
}
.container{
    color: red;
    width: 600px;
    margin-left: auto;
    margin-right:auto ;
    background-color: rgb(146, 145, 145);
}